html {
    min-height: 100%;
    min-width: 100%;
}

body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    text-align: left;
    font-size: 14px;
    line-height: 17px;
    word-wrap: break-word;
    text-rendering: optimizeLegibility;
    -moz-font-feature-settings: 'liga';
    -ms-font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
    margin: 0;
    padding: 0;
    font-family: quicksand, ariel, sans-serif;
    background: #282828;
}

h1, h2, h3, h4, h5, h6 {
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 18px;
}

.slow-trans {
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
}

.trans {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

div#header {
    background: #282828;
    overflow: hidden;
    position: relative;
}

.header-top {
    float: none;
    max-width: 1200px;
    margin: 5px auto 0;
    display: block;
    color: #eee;
    position: relative;
    /* margin-top: 20px; */
    width: calc(100% - 10px);
}

.top-logo-container a {
    margin: 2px auto 0;
    float: left;
    margin-left: 0px;
    width: 100px;
    height: 60px;
    display: block;
    overflow: hidden;
}

.top-logo-container img {
    width: 100px;
    height: 60px;
}

.top-social-logos {
    position: absolute;
    margin-top: 20px;
    right: 0;
    top: 0;
}

.top-logo-container {
    float: left;
    margin: 0 auto;
    display: flex;
    width: 110px;
}

.contact-container {
    float: left;
    width: calc(100% - 20px);
    margin: 8px 10px -5px;
}

.contact-container img {
    float: left;
}

.contact {
    width: 250px;
    margin-top: 5px;
    position: absolute;
    display: none;
    right: 0;
    color: #a2a2a2;
    font-size: 12px;
}

.contact .header {
    float: left;
    width: calc(100% - 20px);
    border-bottom: 1px solid #3a3838;
    background: #333;
    padding: 6px 10px 1px;
    color: #af7474;
}

.contact .header i {
    margin-right: 14px;
    color: #af7474;
    margin-top: -3px;
    margin-bottom: 3px;
    font-size: 24px;
}

.contact i {
    float: left;
    font-size: 19px;
    margin-right: 5px;
    width: 25px;
    text-align: center;
    margin-top: 2px;
}

.contact-container p {
    float: left;
    margin-left: 10px;
    margin-top: 3px;
}

.top-social-logos a {
    float: left;
    margin-right: 10px;
    width: 27px;
}

.top-caption {
    width: 100%;
    text-align: center;
    color: #eee;
    margin-top: 5px;
    float: left;
    width: calc(100% - 119px);
    clear: none;
    display: none;
}

.nav-menu-button {
    float: right;
    width: 50px;
    height: 45px;
    color: #ddd;
    font-size: 40px;
    margin-top: 13px;
    margin-right: 15px;
    text-align: center;
}

.nav-menu-button i.fa-times {
    left: 3px;
    width: 33px;
}

#header .nav-menu-container {
    border-top: 1px solid #444;
    float: left;
    width: 100%;
    margin-top: 10px;
    max-height: 0;
    overflow: hidden;
    border-bottom: 1px solid #000000;
}
#header .nav-menu-container.open {
    max-height: 375px;
}

#header ul.nav-menu {
    float: none;
    display: block;
    width: 100%;
    max-width: 1200px;
    padding-left: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 6px;
    margin: 0 auto;
    border-bottom: none;
    position: relative;
    overflow: hidden;
}

ul.nav-menu li {
    float: left;
    color: #fff;
    list-style-type: none;
    text-align: center;
    border-bottom: 1px solid #333;
    max-height: 90px;
    width: 50%;
    position: relative;
    text-align: left;
    padding-left: 0;
}

ul.nav-menu li:hover {
    background: #b70666;
    border-bottom: 1px solid #8e0456;
}

ul.nav-menu li i.main {
    float: none;
    width: 100%;
    text-align: center;






    font-size: 30px;
    margin-top: 12px;
    margin-bottom: 12px;
}

ul.nav-menu li a {
    color: #bbb;
    text-decoration: none;
    float: left;
    width: 100%;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 25px;
    text-align: center;
}

ul.nav-menu li:hover a {
    color: #fff;
}

ul.nav-menu li.menu-item-purple a {
    color: #b5598e;
}

ul.nav-menu li.menu-item-purple:hover a {
    color: #fff;
}

ul.nav-menu li ul {
    float: left;
    width: 100%;
    position: absolute;
    left: 0;
    top: 45px;
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    opacity: 0;
    height: 0;
    z-index: 0;
    overflow: hidden;
}

ul.nav-menu li li {
    width: calc(33.3% - 16px);
    height: 80px;
    border-bottom: 0;
    border: 1px solid #282828;
    margin-left: 10px;
    border-radius: 5px;
    max-height: none;
}

ul.nav-menu li:hover li:hover {
    background: #333333;
    border: 1px solid #3e3d3d;
}

ul.nav-menu li ul li i {
    float: left;
    font-size: 45px;
    width: 45px;
    text-align: center;
    margin-top: 2px;
}
ul.nav-menu li ul li:hover i {
    transform: scale(1.1);
}

ul.nav-menu li ul li a {
    float: none;
    display: inline-block;
    font-size: 13px;
}

ul.nav-menu li ul li .container-span {
    width: auto;
    float: none;
    display: inherit;
    margin: 0 auto;
    color: #999;
    max-width: calc(100% - 10px);
}

ul.nav-menu li ul li:hover .container-span {
    color: #fff;
}

ul.nav-menu li ul li .inner-span {
    float: left;
    margin-left: 10px;
    margin-top: 8px;
    width: calc(100% - 75px);
    display: inline-block;
}
ul.nav-menu li ul li .inner-span.inner-span-special {
    width: 115px;
}

div.nav-menu-extra {
    float: left;
    width: 100%;
    height: 8px;
    background: #a90165;
}

.main-page-container {
    width: 100%;
    float: left;
    padding-top: 15px;
    background: #e0e0e0;
    padding-bottom: 15px;
    min-height: 60vh;
}

.main-page-container-inner {
    float: none;
    max-width: 1210px;
    width: 100%;
    margin: 0 auto;
}

.main-page-container h1 {
    float: left;
    background: #c1bdbd;
    width: calc(100% - 42px);
    padding: 11px 15px;
    border: 1px solid #888585;
    color: #464444;
    border-radius: 4px;
    -webkit-font-smoothing: antialiased;
    line-height: 28px;
    margin: 0 5px 5px;
}



/*Main Admin Section*/

.main-left-container {
    float: left;
    width: 100%;
    position: relative;
    max-width: 100%;
}

.admin-section {
    float: left;
    width: 100%;
    max-width: calc(100% - 12px);
    margin: 5px;
}

.admin-section-header {
    float: left;
    width: calc(100% - 5px);
    background: #a90165;
    border-radius: 4px 4px 0 0;
    border: 1px solid #860351;
    padding-left: 5px;
}

.admin-section-header h2 {
    margin-top: 15px;
    color: #ddd;
    white-space: nowrap;
}

.admin-section-header h2 span.optional {
    color: #d87bb2;
    margin-left: 10px;
    font-size: 13px;
    text-transform: uppercase;
}

.admin-section-header i {
    float: right;
    width: 34px;
    border-radius: 0 0px 0 0;
    height: 34px;
    margin-top: -16px;
    padding-top: 15px;
    font-size: 21px;
    padding-left: 14px;
    margin-right: -1px;
    background: #9a025d;
    color: #d27aae;
    border: 1px solid #860351;
    border-left-color: #c11c7f;
    border-bottom: none;
}
.admin-section-header i.fa-arrow-up {
    padding-top: 14px;
    height: 35px;
}

.admin-section-header i:hover {
    background: #a90165;
    cursor: pointer;
}

.admin-section-header h2 i.left-icon {
    float: left;
    border: none;
    background: none;
    padding-right: 9px;
    width: 32px;
    text-align: center;
    padding-left: 2px;
    margin-top: -13px;
    height: 34px;
    vertical-align: top;
    padding-top: 11px;
    border-right: 1px dotted #bd3585;
    border-radius: 0;
    margin-right: 10px;
    color: #e6bbdf;
    font-size: 23px;
    cursor: default;
}

.admin-section-body {
    float: left;
    width: calc(100% - 20px);
    background: #efefef;
    border: 1px solid #e0e0e0;
    max-height: 0;
    overflow: hidden;
    padding: 0 10px;
}
.admin-section-body.open {
    max-height: 400px;
    padding: 10px;
    border-color: #bda2c0;
}
.admin-section-body.services-container {
    max-height: none;
}

.admin-section-body a {
    width: calc(33.33% - 15px);
    margin-right: 5px;
    float: left;
    text-align: center;
    text-decoration: none;
    color: #a90165;
    padding: 25px 5px;
    min-height: 79px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.admin-section-body a:hover, .admin-section-body a.active {
    background: #ddd;
    color: #af4082;
    cursor: pointer;
}

.admin-section-body a i {
    float: none;
    width: 100%;
    font-size: 35px;
    margin-bottom: 10px;
    color: #615f5f;
}

.admin-section-body a:hover i, .admin-section-body a.active i {
    transform: scale(1.2);
    color: #a90165;
}

.admin-section-body a span {
    max-width: 72px;
    float: none;
    display: block;
    margin: 0 auto;
}

.admin-section textarea {
    float: left;
    width: calc(100% - 12px);
    height: 80px;
    border-color: #c3a7a7;
    border-radius: 4px;
    font-family: quicksand, ariel, sans-serif;
    padding: 5px;
    font-size: 13px;
}

.admin-section input {
    float: left;
    width: calc(100% - 22px);
    height: 30px;
    border: 1px solid #c3a7a7;
    border-radius: 4px;
    padding: 5px 10px;
    margin-bottom: 15px;
    font-family: quicksand, ariel, sans-serif;
    font-size: 13px;
}

.admin-section input[type="file"] {
    padding-top: 15px;
    padding-bottom: 5px;
}

.admin-section input[type="button"],
.admin-section button,
.admin-section-wrapper button  {
    background: #a90165;
    border: 1px solid #77064a;
    height: 40px;
    padding: 10px;
    color: #ddd;
    font-family: quicksand, ariel, sans-serif;
    font-size: 13px;
}
.admin-section-wrapper button {
    float: right;
    margin-right: 5px;
    margin-bottom: 20px;
    margin: 10px 5px 20px 0;
    font-size: 15px;
    padding: 15px 45px;
    height: 50px;
    font-weight: bold;
}
.admin-section-wrapper button.button-disabled {
    background: #7d014b;
    color: #c8accc;
    cursor: not-allowed;
}

.admin-section-wrapper button:hover {
    background: #bd0b75;
    color: #eee;
    cursor: pointer;
}
.admin-section-wrapper button.button-disabled:hover {
    background: #7d014b;
    color: #c8accc;
    cursor: not-allowed;
}

.admin-section button#add-image {
    float: right;
}

.admin-section .select-container,
.admin-section .text-input-container {
    float: left;
    width: 100%;
}

.admin-section .select-container {
    padding: 0 5px 5px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    width: calc(100% - 10px);
}

.admin-section .select-container p {
    padding: 0 5px;
    width: calc(100% - 10px);
}

.admin-section .select-container .option {
    padding: 0 5px;
    width: calc(100% - 30px);
    float: left;
    border: 1px solid #bf98af;
    padding: 20px 10px;
    margin: 0 5px;
    background: #e0bad0;
}
.admin-section .select-container .option:hover {
    border: 1px solid #af8ca0;
    background: #f7ddec;
    cursor: pointer;
}

.admin-section .select-container .option.active {
    border: 1px solid #9e3e75;
    background: #ca2788;
    color: #ded8d8;
}

/* Generic Buttons */
button.main {
    background: #a90165;
    border: 1px solid #77064a;
    height: 40px;
    padding: 10px;
    color: #ddd;
    font-family: quicksand, ariel, sans-serif;
    font-size: 13px;
    min-width: 80px;
}
button.main:hover {
    background: #bd0b75;
    color: #eee;
    cursor: pointer;
}

/*Pop Ups*/
#cover-overlay {
    position: fixed;
    width: 100%;

    height: 100%;
    background: rgba(230, 230, 230, 0.3);
    z-index: 0;
    overflow: hidden;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    transition: all 0.25s;
    opacity: 0;
    transform: scale(0.8);
    pointer-events: none;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    top: 0;
    left: 0;
}

#cover-overlay.open {
    z-index: 9999;
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}

.pop-up {
    width: 95%;
    display: block;
    min-width: 200px;
    max-width: 500px;
    -webkit-transition: width 0.25s;
    -moz-transition: width 0.25s;
    transition: width 0.25s;
    display: flow-root;
    -webkit-box-pack: center;
    overflow: hidden;
    max-height: 90%;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    background: #eee;
    border: 1px solid #bbb;
    padding: 5px 15px 10px;
}

.pop-up .main-content {
    margin-bottom: 15px;
    border-bottom: 1px dotted #c77ba9;
    padding-bottom: 10px;
    line-height: 30px;
    font-size: 14px;
}

.pop-up button {
    float: right;
}

/*Main Forms*/
.mynyte-form-field-container.mynyte-button-container {
    padding-top: 10px;
    border-top: 1px dotted #bbb;
    margin-top: 10px;
}

.mynyte-form-field-container.mynyte-button-container button {
    float: right;
    width: 200px;
    padding: 10px;
    border-radius: 4px;
    background: #b7026e;
    border: 1px solid #750347;
    color: #e4e2e2;
    font-size: 14px;
}

.mynyte-form-field-container.mynyte-button-container button:hover {
    cursor: pointer;
    background: #e60b8e;
}

/*Sidebar*/
.sidebar {
    float: left;
    width: calc(100% - 10px);
    margin-left: 5px;
    margin-top: 5px;
}

.sidebar.main-sidebar {
    background: #9e9e9e;
}

.sidebar h3 {
    margin: 0 0 5px;
    text-transform: uppercase;
    border-bottom: 1px dotted #777;
    color: #fff;
    width: calc(100% - 20px);
    background: #3e3c3c;
    padding: 10px;
}

.unread-item-summary {
    float: left;
    width: calc(100% - 22px);
    margin: 0 10px;
}

.sidebar h4 {
    margin-top: 5px;
    margin-bottom: 0;
    width: calc(100% - 10px);
    background: #333333;
    padding: 5px 5px 7px;
    color: #f1eaea;
    border: 1px solid #444;
    border-bottom: 3px solid #bb0470;
    text-align: center;
}

.sidebar h4 i {
    font-size: 21px;
    margin-right: 15px;
    color: #cecece;
}

.unread-item-container {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.unread-item-container div {
    float: left;
    width: 100%;
    min-height: 60px;
    background: #c1bdbd;
    border: 1px solid #756f6f;
    border-top-color: #a20461;
}

.unread-item-container div .counter-note {
    float: left;
    width: calc(100% - 32px);
    margin: 5px;
    padding: 10px;
    background: #e9e9e9;
    font-size: 13px;
    border: 1px solid #aaa;
    font-weight: normal;
}

.unread-item-container div .counter-note:hover {
    background: #f8f8f8;
    border: 1px solid #82737c;
    cursor: pointer;
    transform: scale(0.98);
}

.unread-item-container div a {
    float: left;
    margin: 5px 6px 5px;
    width: calc(100% - 22px);
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border-top: 1px dotted #888;
    padding: 8px 5px 5px;
}

.unread-item-container div a:hover {
    color: #8c165b;
    cursor: pointer;
}
/*Footer*/
.footer {
    float: left;
    width: 100%;
    background: #282828;
}

.footer-bar {
    float: left;
    width: calc(100% - 28px);
    margin-bottom: 60px;
    border-bottom: 1px solid #444;
    color: #bbb;
    padding: 12px 14px;
    border-top: 1px solid #000;
}

.footer-bar p {
    float: none;
    max-width: 1200px;
    width: calc(100% - 10px);
    margin: 0 auto;
}

.footer-bar a {
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    color: #869aab;
}

.footer-bar a:hover {
    cursor: pointer;
    color: #c0d0e4;
}

@media only screen and (min-width: 35rem) {
    .admin-section-body a {
        min-height: 0;
    }

    .admin-section-body a span {
        max-width: none;
    }
}

@media only screen and (min-width: 51rem) {
    div#header {
        margin-bottom: 0;
    }
    
    .top-logo-container {
        width: auto;
        float: none;
        margin-top: 15px;
    }

    .top-logo-container a {
        float: left;
        margin: 0;
        display: inline-table;
        width: auto;
    }

    .top-logo-container img {
        width: 205px;
        height: 121px;
        margin-left: -9px;
    }

    .top-caption {
        width: 100%;
    }

    .nav-menu-button {
        display: none;
    }

    .contact {
        display: block;
        border: 1px solid #383737;
        margin-right: 1px;
        padding: 0 0 2px;
        background: #2a2a2a;
    }

    #header .nav-menu-container {
        max-height: none;
    }

    ul.nav-menu li {
        width: calc((1/7) * 100%);
        position: initial;
        text-align: center;
        padding-left: 0;
        max-height: 45px;
        overflow: hidden;
    }

    ul.nav-menu li.with-menu:hover {
        margin-bottom: 100px;
    }

    ul.nav-menu li.menu-item-last {
        display: none;
    }

    ul.nav-menu li i.main {
        display: none;
    }

    ul.nav-menu li a {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    ul.nav-menu li.menu-item-purple a {
        color: #bbb;
    }
    
    ul.nav-menu li:hover ul {
        opacity: 1;
        height: auto;
        z-index: 2;
    }
    
    .main-page-container {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

@media only screen and (min-width: 61rem) {
    .main-left-container {
        width: 800px;
    }

    .sidebar {
        width: calc(100% - 820px);
        margin-left: 15px;
        margin-top: 0;
    }
}