body.fixfixed {
    position: relative !important;
}

button.mynyte-form-datepicker, button.mynyte-form-timepicker, button.mynyte-form-selecttoggler {
    background: #af1e71;
    color: #fff;
}

.mynyte-new-business-item {
    padding: 10px 0 10px 20px;
    border: 1px solid #d8d8d8;
    max-width: calc(100% - 32px) !important;
    background: #f9f9f9;
}

.mynyte-business-items-summary-item {
    width: 100%;
    margin-bottom: 5px;
    border-color: #cecece;
}

label.mynyte-label {
    color: #ab0e68;
    font-weight: bold;
}

label.mynyte-form-field-label {
    padding: 16px 0 0px;
}

.main-left-container .mynyte-business-items-summary {
    max-width: calc(100% - 32px);
}

.mynyte-business-items-summary-item a.view-detail-button {
    float: right;
    clear: both;
    background: #ab0e68;
    color: #eee;
    width: 150px;
    text-align: center;
    border-radius: 2px;
    border: 1px solid #71144a;
    font-weight: normal;
    text-decoration: none;
}